@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 1.5s ease-out forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* Logo Typewriter Effect */
  .logo-typing-text {
    width: 0;
    transition: width 0s;
  }

  .group:hover .logo-typing-text {
    animation: typing 1.5s steps(13, end) forwards, blink 0.75s step-end infinite;
    width: 200px;
    /* Adjust based on text length */
    margin-left: 12px;
  }

  @keyframes typing {
    from {
      width: 0;
    }

    to {
      width: 200px;
    }
  }

  @keyframes blink {

    from,
    to {
      border-color: transparent;
    }

    50% {
      border-color: white;
    }
  }
}